*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #121212;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Metal Mania", system-ui;
}



header{
    position: relative;
    background-image: url('./assets/nav-img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header::before{
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
}

header *{
    position: relative;
    z-index: 1;
}

.container{
    width: 90%;
    margin: 0 auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4rem .5rem;
}

nav a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.main-section-svg{
    width: 70px;
    color: #2E2E2F;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.movie-section-list, .watch-movie-section-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro-text{
    color: #2E2E2F;
}

.search-bar{
    width: 80%;
    display: flex;
    position: absolute;
    top: 100%;
    left: 50%;
    border-radius: 3px;
    transform: translate(-50%, -50%);
    background-color: #2E2E2F;
}

.movie-search-input{
    width: 75%;
    padding: .6rem .5rem;
    background-color: #2E2E2F;
    color: #FFFFFF;
    outline: none;
    border: none;
    border-radius: 3px;
}

.search-btn{
    flex: 1;
    background-color: #4B4B4B;
    color: #FFFFFF;
    border: none;
    border-radius: 3px;
}

.movie-wrapper{
    padding-block: 2rem;
    margin-block: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    border-top: 1px solid #2C2C2C;
    border-bottom: 1px solid #2C2C2C;
    width: 100%;
}

.movie-poster{
    width: 30%;
    flex-shrink: 0;
}

.movie-poster img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.movie-overview{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    width: 55%;
}

.movie-header{
    display: flex;
    align-items: center; 
    gap: 2rem;
}

.movie-details{
    display: flex;
    gap: 1rem;
}

.watchlist-btn, .redirect-add-movies, .remove-movie-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
    color: gold;
    border: 1px solid gold;
    padding: 0.4rem 0.8rem;
    border-radius: 4px;
    width: fit-content;
    transition: all 0.2s ease;
    margin-top: .5rem;
}

.watchlist-btn:hover, .remove-movie-btn:hover {
    background-color: gold;
    color: #121212;
}

.redirect-add-movies{
    text-decoration: none;
}


@media (min-width: 768px){

    .container{
        width: 60%;
    }

    h1{
        font-size: 3rem;
    }

    nav a{
        font-size: 1.5rem;
    }

    .search-bar{
        width: 30%;
    }

    .movie-wrapper{
        justify-content: center;
        gap: 2rem;
    }

    .movie-poster{
        width:  20%;
    }

    .movie-overview{
        width: 40%;
        justify-content: flex-start;
        gap: 2rem;
    }

    .movie-name{
        font-size: 3rem;
    }

    .movie-rating{
        font-size: 1.3rem;
    }

    .movie-details{
        font-size: 1.6rem;
    }

}